<ion-header>
  <ion-toolbar>
    <ion-title>detail-menu-jour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let plat of mealDay" class="d-flex align-content-center p-1">>
            <ion-item></ion-item>
            <h6>{{plat.label}}</h6> 
            <ion-item>
                <p class="small">  <img src="http://localhost:8080/lunchtime/{{plat.image}}" /> </p>
                <ion-item></ion-item>
                <button class="w-25 h-25 ml-1">Prix: {{plat.priceDF}}</button>
            </ion-item>          
        </ion-item>
       <ion-button class="float-center font-weight-bold">Ajouter au panier</ion-button>
    </ion-list>
    <ion-back-button defaultHref="todays-menu"></ion-back-button>
</ion-content>
