<ion-header>
  <ion-toolbar>
    <ion-title>Détail de la commande &#8470; {{order?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<div class="container">
    <h2>Détail de la commande &#8470; {{order?.id}}</h2>

    <table class="table table-bordered align-middle">
      <thead>
      <tr>
        <th scope="col" ><span class="fa fa-calendar"></span> Date</th>
        <th scope="col"><span class="fa fa-lemon-o"></span> Plats+Détails</th>
        <th scope="col"><span class="fa fa-euro"></span> Prix</th>
        <th scope="col"><span class="fa fa-list-ol"></span> &#8470; commande</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="order?.menu !== undefined">
        <tr>
          <td scope="row">{{order?.creationDate | date }}</td>
          <td>{{order?.menu.label}}</td>
          <td>{{order?.menu.priceDF}} €</td>
          <td>{{order?.id}}</td>
        </tr>
        <tr>
          <td colspan="3">Prix Total</td>
          <td>{{computedPrice}} €</td>
        </tr>
      </ng-container>

      <ng-container *ngIf="order?.quantityMeals !== undefined">
        <tr>
          <td scope="row">{{order?.creationDate | date }}</td>
          <td>
            <p *ngFor="let meal of order?.quantityMeals">{{meal.meal.label}}</p>
          </td>
          <td>
            <p *ngFor="let meal of order?.quantityMeals">{{meal.meal.priceDF}} €</p>
          </td>
          <td>{{order?.id}}</td>
        </tr>
        <tr>
          <td colspan="3">Prix Total</td>
          <td>{{computedPrice}} €</td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <div>
      <h3>Informations du client</h3>
      <span>
    <span class="text-primary">Prénom: </span> <span class="font-italic">{{order?.user.firstname}} </span><br>
    <span class="text-primary">Nom: </span> <span class="font-italic">{{order?.user.name}} </span><br>
    <span class="text-primary">E-mail: </span> <span class="font-italic">{{order?.user.email}} </span><br>
    <span class="text-primary">Porte-feuille: </span> <span class="font-italic">{{order?.user.wallet}} €</span>
    </span>
    </div>
  </div>-->

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon name="calendar"></ion-icon>
        Date
      </ion-col>
      <ion-col>
        <ion-icon name="pizza"></ion-icon>
        Plats+Détails
      </ion-col>
      <ion-col>
        <ion-icon name="logo-euro"></ion-icon>
        Prix
      </ion-col>
      <ion-col>
        <ion-icon name="list"></ion-icon>
        &#8470; commande
      </ion-col>
    </ion-row>
      <ng-container *ngIf="order?.menu !== undefined">
      <ion-row class="ion-text-center">
        <ion-col>
          {{order?.creationDate | date }}
        </ion-col>
        <ion-col>
          {{order?.menu.label}}
        </ion-col>
        <ion-col>
          {{order?.menu.priceDF}} €
        </ion-col>
        <ion-col>
          {{order?.id}}
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col aria-colspan="3">
            Prix Total
          </ion-col>
          <ion-col>
            {{computedPrice}} €
          </ion-col>
        </ion-row>
      </ng-container>

    <ng-container *ngIf="order?.quantityMeals !== undefined">
      <ion-row class="ion-text-center">
        <ion-col>
          {{order?.creationDate | date }}
        </ion-col>
        <ion-col>
          <p *ngFor="let meal of order?.quantityMeals">{{meal.meal.label}}</p>
        </ion-col>
        <ion-col>
          <p *ngFor="let meal of order?.quantityMeals">{{meal.meal.priceDF}} €</p>
        </ion-col>
        <ion-col>
          {{order?.id}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col aria-colspan="3">
          Prix Total
        </ion-col>
        <ion-col>
          {{computedPrice}} €
        </ion-col>
      </ion-row>
      </ng-container>
  </ion-grid>

  <div text-center>
  <ion-title>Informations du client</ion-title>

  <ion-text color="primary">Prénom: </ion-text> <ion-text class="font-italic">{{order?.user.firstname}}</ion-text><br>
  <ion-text color="primary">Nom: </ion-text> <ion-text class="font-italic">{{order?.user.name}}</ion-text><br>
  <ion-text color="primary">E-mail: </ion-text> <ion-text class="font-italic">{{order?.user.email}}</ion-text><br>
  <ion-text color="primary">Porte-feuille: </ion-text> <ion-text class="font-italic">{{order?.user.wallet}} €</ion-text>
  </div>
</ion-content>
