ion-col{
  background: darkcyan;
  margin-top: 1px;
  color:white;
  font-size: x-small;
}

.no-orders{
  position: relative;
  top: 20%;
}

ion-button{
  font-size: xx-small;
  text-transform: initial;
}

.button-native{
  border-radius: 100px;
}

