<ion-header>
  <ion-toolbar>
    <ion-title>Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Numéro de la commande" [(ngModel)]="inputOrderId" (search)="getOrder()"></ion-searchbar>

  <div *ngIf="!orders?.length > 0" class="ion-text-center no-orders">
    <ion-text>Vous n'avez aucune commande !</ion-text>
  </div>

  <div class="ion-text-center">
    <ion-button (click)="allOrders()">Toutes les commandes</ion-button>
    <ion-button (click)="openFilterModal('entre_dates')">Entre dates</ion-button>
    <ion-button (click)="openFilterModal('par_utilisateur')">Par utilisateur</ion-button>
    <ion-button (click)="openFilterModal('aujourdhui_utilisateur')">Aujourd'hui par utilisateur</ion-button>
  </div>

  <ion-grid *ngIf="orders?.length > 0">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-icon name="calendar"></ion-icon>
        Date
      </ion-col>
      <ion-col>
        <ion-icon name="pizza"></ion-icon>
        Plats+Détails
      </ion-col>
      <ion-col>
        <ion-icon name="logo-euro"></ion-icon>
        Prix
      </ion-col>
      <ion-col>
        <ion-icon name="shuffle"></ion-icon>
        Statut
      </ion-col>
      <ion-col>
        <ion-icon name="list"></ion-icon>
        &#8470; commande
      </ion-col>
    </ion-row>

    <ng-container *ngFor="let order of orders">
    <ion-row *ngIf="order.menu" [routerLink]="['/order-detail/'+order.id]" class="ion-text-center">
      <!--- order.menu !== undefined -->
      <ion-col>
        {{order.creationDate | date }}
      </ion-col>
      <ion-col>
        {{order.menu.label}}
      </ion-col>
      <ion-col>
        {{order.menu.priceDF}} €
      </ion-col>
      <ion-col>
        <p *ngIf="order?.status === 0">Éffectuée</p>
        <p *ngIf="order?.status === 1">Livrée</p>
        <p *ngIf="order?.status === 2">Annulée</p>
      </ion-col>
      <ion-col>
        {{order.id}}
      </ion-col>
    </ion-row>

    <ion-row *ngIf="order.quantityMeals" [routerLink]="['/order-detail/'+order.id]" class="ion-text-center">
      <!-- order.quantityMeals !== undefined -->
      <ion-col>
        {{order.creationDate | date }}
      </ion-col>
      <ion-col>
        <p *ngFor="let meal of order.quantityMeals">{{meal.meal.label}}</p>
      </ion-col>
      <ion-col>
        <p *ngFor="let meal of order.quantityMeals">{{meal.meal.priceDF}} €</p>
      </ion-col>
      <ion-col>
        <p *ngIf="order?.status === 0">Éffectuée</p>
        <p *ngIf="order?.status === 1">Livrée</p>
        <p *ngIf="order?.status === 2">Annulée</p>
      </ion-col>
      <ion-col>
        {{order.id}}
      </ion-col>
    </ion-row>
    </ng-container>
  </ion-grid>

</ion-content>
