<ion-header>
  <ion-toolbar>
    <ion-title>utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="jumbotron jumbotron-fluid" *ngIf="userInfo !== undefined">
        <h3 class="w-100 ml-3">Bonjour {{userInfo.user.firstname}} {{userInfo.user.name}}</h3>
        <p class="ml-3">Bienvenue !</p>
        <button class="btn btn-dark ml-3" (click)="logout()">Se déconnecter</button>
      </div>
      <div class="jumbotron jumbotron-fluid" *ngIf="userInfo === undefined">
        <p class="">Bienvenue !</p>
        <button class="btn btn-dark" (click)="login()">Se connecter</button>
        <button class="btn btn-dark ml-4" (click)="register()">Créer un compte</button>
      </div>
      
      <div class="container">
      
        <div class="row">
        
    
         <div class="container">
          <h2>Liste des utlisateurs</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Numéro</th>
                <th>Portefeuille</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr class="table-primary" *ngFor="let user of findAll">
                    <td id="lastname{{user.id}}">{{user.name}}</td>
                    <td id="firstname{{user.id}}">{{user.firstname}}</td>
                    <td id="emai1{{user.id}}">{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td style="cursor: pointer;font-weight: bold;"> {{user.wallet}} € <button class="btn btn-success" id="{{user.id}}" (click)="onClick($event)">Créditer</button></td>
                    <td><button class="btn btn-danger" id="{{user.id}}" (click)="onClick2($event)">Supprimer</button></td>
                </tr>
            </tbody>
          </table>
          <!-- The Modal -->
          <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
            <div class="modal-dialog">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Créditer le compte de {{Name}} </h4>
                  <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                 <form (ngSubmit)="credit(f)" #f="ngForm">
                      <p>Vous voulez créditer le compte de {{Name}} de combien?</p>
                      <p> 
                        Montant: <input type="text" [(ngModel)]="amount" name="amount"> € 
                        <button class="btn btn-success" type=""submit>Créditer</button>              
                      </p> 
                  </form>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Annuler</button>
                </div>
                
              </div>
            </div>
          </div>
    
          <!-- The Modal2 -->
          <div class="modal" id="myModal2" [style.display]="showModal2 ? 'block' : 'none'">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Supprimé {{Name}} </h4>
                    <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                   <form (ngSubmit)="delete(u)" #u="ngForm">
                        <p>Voulez vous vraiment {{Name}}?</p>
                        <p> 
                            <button class="btn btn-danger"type=""submit>Supprimer</button>              
                        </p> 
                    </form>
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Annuler</button>
                  </div>
                  
                </div>
              </div>
          </div>
    
    
        </div>
    
        </div>
      </div>

</ion-content>
