<ng-container *ngIf="userInfos === null">
<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login ion-text-center">
  <ion-img src="../../assets/icon/cantiniere.png"></ion-img>
  <ion-text class="text-center">La Canitnière</ion-text><br><br>

  <form (ngSubmit)="login(user)" #user="ngForm">
    <ion-item>
      <ion-input type="text" [(ngModel)]="email" name="email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe"></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-text-center">Se connecter</ion-button>
  </form>

  <ion-text color="primary" [routerLink]="['/register']">Créer un compte</ion-text>
</ion-content>
</ng-container>

<ng-container *ngIf="userInfos !== null">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenue </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-text-center">
    <ion-img src="../../assets/icon/cantiniere.png"></ion-img>
    <ion-text>La Canitnière</ion-text><br><br>

    <ion-text>Vous ètes connectés en tant que</ion-text><br>
    <ion-text>{{userInfos?.user.name}} {{userInfos?.user.firstname}}</ion-text><br>
    <ion-button (click)="logOut()">Se déconnecter</ion-button>
  </ion-content>
</ng-container>
