<ion-header>
  <ion-toolbar>
    <ion-title>Menus du jour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-left">
    <ion-searchbar placeholder="rechercher un menu" (ionInput)="searchPlat($event)"></ion-searchbar>
  </ion-col>
</ion-row>

<ion-content>
  <ion-fab *ngIf="isLunchLady" slot="fixed" vertical="top" horizontal="center" #fab>
    <ion-fab-button color="danger" (click)="verifChecked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let menu of todayMenu" #slidingItem>
      <ion-item>
        <ion-checkbox *ngIf="checkedmeal" color="success" slot="start"></ion-checkbox>
        <ion-thumbnail slot="start">
          <ion-img *ngIf="menu?.image?.includes('data')" [src]="menu?.image" alt=""></ion-img>
          <ion-img *ngIf="menu?.image?.includes('img/menu')"src="{{apiUrl}}/{{menu?.image}}" alt=""></ion-img>
        </ion-thumbnail>
        <ion-label> 
          {{menu?.label}}
        </ion-label>

        <div class="item-note" slot="end">
          <ion-button class="float-right font-weight-bold" color="success" (click)="menuDetail(menu?.id)">
            {{menu?.priceDF}} €
          </ion-button>
        </div>
      </ion-item>

      <ion-item-options side='start' *ngIf="isLunchLady">
        <ion-item-option color="secondary" (click)="onEdit(menu?.id,slidingItem)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side='end'>
        <ion-item-option color="warning" (click)="addToCart(menu?.id,slidingItem)">
          <ion-icon name="basket" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>

