<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="menu">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Menus</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todays-menu">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Menus du jour</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meal">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Plats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Commandes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
