<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Plats du jour
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-left">
    <ion-searchbar placeholder="rechercher les plats" (ionInput)="searchPlat($event)"></ion-searchbar>
  </ion-col>
</ion-row>
<ion-content>
  <ion-fab *ngIf="isLunchLady" slot="fixed" vertical="top" horizontal="center" #fab>
    <ion-fab-button color="danger" (click)="verifChecked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let plat of mealSearch" #slidingItem>
      <ion-item>
        <ion-checkbox *ngIf="checkedmeal" color="success" slot="start"></ion-checkbox>
        <ion-thumbnail slot="start">
          <ion-img *ngIf="plat?.image?.includes('data')" [src]="plat?.image"></ion-img>
          <ion-img *ngIf="plat?.image?.includes('img/meal')" src="{{apiUrl}}/{{plat?.image}}" alt=""></ion-img>
        </ion-thumbnail>
        <ion-label> {{ plat.label }}</ion-label>

        <div class="item-note" slot="end">
          <ion-button class="float-right font-weight-bold" [routerLink]="['/meal','detail',plat.id]">
            {{plat.priceDF}} €
          </ion-button>
        </div>
      </ion-item>

      <ion-item-options side='start' *ngIf="isLunchLady">
        <ion-item-option color="secondary" (click)="onEdit(plat.id,slidingItem)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side='end'>
        <ion-item-option color="danger" (click)="addToCart(plat.id,slidingItem)">
          <ion-icon name="basket" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->


</ion-content>



<!-- <ion-content>
  <div class="jumbotron jumbotron-fluid" *ngIf="userInfo !== undefined">
    <h3 class="w-100">Bonjour {{userInfo.user.firstname}} {{userInfo.user.name}}</h3>
    <p class="">Bienvenue !</p>
    <button class="btn btn-dark ml-3" (click)="logout()">Se déconnecter</button>
  </div>
  <div class="jumbotron jumbotron-fluid" *ngIf="userInfo === undefined">
    <p class="">Bienvenue !</p>
    <button class="btn btn-dark" (click)="login()">Se connecter</button>
    <button class="btn btn-dark ml-4" (click)="register()">Se connecter</button>
  </div>


<ion-list>

  <ion-item *ngFor="let plat of todayMeal" class="d-flex align-content-center p-1">>
    <ion-item></ion-item>
    <h6>{{plat.label}}</h6>
    <ion-item>
      <p class="small"> <img src="http://localhost:8080/lunchtime/{{plat.image}}" /> </p>
      <ion-item></ion-item>
      <ion-button class="w-25 h-25 ml-1">Prix: {{plat.priceDF}}</ion-button>
    </ion-item>
  </ion-item>

</ion-list>
</ion-content>

<ion-checkbox color="success" checked="true" slot="start"></ion-checkbox>
<ion-badge color="danger" class="float-right" slot="end">{{plat.value.ingredients?.length}}</ion-badge>
-->