<ion-header>
  <ion-toolbar>
    <ion-title>Plats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Plats du jour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let plat of meals | keyvalue" #slidingItem>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img src="{{apiUrl}}/{{plat.value.image}}" alt=""></ion-img>
        </ion-thumbnail>
        <div class="float-left item-note" slot="end">
          {{ plat.value.label }}
        </div>

        <div class="item-note" slot="end">
          <ion-button class="float-right font-weight-bold" [routerLink]="['/meal','detail',plat.value.id]">
            {{plat.value.priceDF}} €
          </ion-button>
        </div>


      </ion-item>

      <ion-item-options side='start'>
        <ion-item-option color="secondary" (click)="onEdit(plat.id,slidingItem)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side='end'>
        <ion-item-option color="danger" (click)="ondelete(plat.id,slidingItem)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>


<!--<ion-content>
  <div class="jumbotron jumbotron-fluid" *ngIf="userInfo !== undefined">
    <h3 class="w-100">Bonjour {{userInfo.user.firstname}} {{userInfo.user.name}}</h3>
    <p class="">Bienvenue !</p>
    <button class="btn btn-dark ml-3" (click)="logout()">Se déconnecter</button>
  </div>
  <div class="jumbotron jumbotron-fluid" *ngIf="userInfo === undefined">
    <p class="">Bienvenue !</p>
    <button class="btn btn-dark" (click)="login()">Se connecter</button>
    <button class="btn btn-dark ml-4" (click)="register()">Se connecter</button>
  </div>


<ion-list>

  <ion-item *ngFor="let plat of todayMeal" class="d-flex align-content-center p-1">>
    <ion-item></ion-item>
    <h6>{{plat.label}}</h6>
    <ion-item>
      <p class="small"> <img src="http://localhost:8080/lunchtime/{{plat.image}}" /> </p>
      <ion-item></ion-item>
      <ion-button class="w-25 h-25 ml-1">Prix: {{plat.priceDF}}</ion-button>
    </ion-item>
  </ion-item>

</ion-list>
</ion-content>
-->